

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <section class="banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="left-banner-content">
                        <div class="text-content">
                            <img src="https://www.ecuadortv.ec/images/2020/mayo/AUTO.jpg" height="500" width="700" />
                            <div class="line-dec"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-banner-content">
                        <br><br><br>
                                <center>
                                    <div class="logo"><a href="index.html"><img src="~/imagenes/iconlogo.svg" height="90" width="90" alt=""></a></div>
                                    <br />
                                    <h2 style="color:#283747">BIENVENIDOS</h2>
                                    <span>Gracias <em>Por</em> Elegirnos</span>
                                    <div class="line-dec"></div>
                                    <p>“El negocio puede ser pequeño, pero la visión tiene que ser grande”</p>
                                </center>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="best-offer" id=best-offer-section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="best-offer-left-content">
                        <br><br><br><br>
                        <img src="~/imagenes/foto2.jpeg" width="300" height="200" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="best-offer-right-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <br>
                                <center><div class="icon"><img src="img/best-offer-icon.png" alt=""></div></center>
                                <br>
                                <h2>CONOCENOS MÁS...</h2>
                                <br>
                                <p>Somos una empresa emprendedora la que brindará confiabilidad al cliente como la única persona importante a la que debemos servir para cada vez brindarle un mejor servicio a sus necesidades .</p>

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <br><br><br><br>
                                <img src="~/imagenes/foto3.jpeg " width="300" height="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br><br>
    <section class="services" id="services-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper first-service">
                            <div class="front">
                                <div class="icon">
                                    <br>
                                    <img src="~/img/heart-icon.png" />
                                </div>
                                <h4>Paso 1</h4>
                            </div>
                            <img src="~/imagenes/foto4.jpg">
                            <div class="back">
                                <p>Donec malesuada eu est in mattis. Aenean velit eros, blandit et tortor non, viverra hendrerit velit. Maecenas ut orci nec velit convallis lobortis sit amet ut magna. Ut rhoncus suscipit arcu, sed facilisis risus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper second-service">
                            <div class="front">
                                <div class="icon">
                                    <img src="img/home-icon.png" alt="">
                                </div>
                                <h4>Paso 2</h4>
                                <img src="~/imagenes/foto5.jpg">
                            </div>
                            <div class="back">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vel diam porttitor, fermentum ante et, ornare elit. Morbi nec diam ex. Pellentesque habitant morbi tristique senectus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper third-service">
                            <div class="front">
                                <div class="icon">
                                    <br>
                                    <img src="img/revision-icon.png" alt="">
                                </div>
                                <h4>Paso 3</h4>
                                <img src="~/imagenes/foto6.jpg">
                            </div>
                            <div class="back">
                                <p>Mauris congue ex eu enim suscipit, in suscipit est efficitur. Donec quis orci malesuada nunc lobortis aliquet et ut lacus. Sed erat magna, fringilla ac imperdiet in, pulvinar quis ante. Maecenas eleifend, sem vitae tristique.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper fourth-service">
                            <div class="front">
                                <div class="icon">
                                    <br>
                                    <img src="img/chat-icon.png" alt="">
                                </div>
                                <h4>Paso 4</h4>
                                <img src="~/imagenes/foto7.jpg">
                            </div>
                            <div class="back">
                                <p>Donec venenatis erat at leo dictum, at dictum eros volutpat. Phasellus in dui sed purus varius hendrerit. Duis ac enim ac orci efficitur condimentum vel eget purus. Sed vel massa nulla. Curabitur consequat sem ac velit sollicitudin ornare.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <br><br>
    <center>
        <a type="button" href="https://localhost:44338/Due%C3%B1oTiendas" class="btn btn-dark text-white">Agregar Productos</a>
    </center>
    @*<div id="contenedor">
        <div id="menu">*@
    <!-- panel-footer -->
    @*<div class="content" style="text-align:left">
                    <button type="button" value="enviar" class="btn btn-dark">Perfil</button>
                </div>
                <center><h3>Mis Productos</h3></center>
                <br>

                <div class="my-custom-scrollbar">
                    <table class="table table-bordered table-white">
                        <tbody>
                            <tr>
                            <tr>

                                <th><center>PRODUCTOS</center></th>
                                <th><center>DESCRIPCIÓN</center></th>
                                <th><center>STOCK</center></th>
                                <th></th>
                                <th></th>

                            </tr>

                            <tr>
                                <td>
                                    <img src="~/imagenes/producto1.jpg" alt="" height="250" width="250" />
                                </td>
                                <td>
                                    Pollo entero, Extra grande <br> Precio:
                                </td>
                                <td>
                                    <input type="number" id="tentacles" placeholder="2" name="tentacles"
                                           min="1" max="20">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-dark">Editar</button>
                                </td>
                                <td>
                                    <center>
                                        <button type="button" class="btn"><img src="~/imagenes/eliminar1.png" width="35" height="35" /></button>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/imagenes/producto5.jpg" alt="" height="200" width="200" />
                                </td>
                                <td>
                                    Lechuga Organica <br> Precio:
                                </td>
                                <td>
                                    <input type="number" id="tentacles" placeholder="2" name="tentacles"
                                           min="1" max="20">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-dark">Editar</button>
                                </td>
                                <td>
                                    <center>
                                        <button type="button" class="btn"><img src="~/imagenes/eliminar1.png" width="35" height="35" /></button>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/imagenes/producto2.jpg" alt="" height="250" width="250" />
                                </td>
                                <td>
                                    Cebollas blancas grandes <br> Precio:
                                </td>
                                <td>
                                    <input type="number" id="tentacles" placeholder="2" name="tentacles"
                                           min="1" max="20">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-dark">Editar</button>
                                </td>
                                <td>
                                    <center>
                                        <button type="button" class="btn"><img src="~/imagenes/eliminar1.png" width="35" height="35" /></button>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/imagenes/producto3.jpg" alt="" height="250" width="250" />
                                </td>
                                <td>
                                    Aceite de Oliva <br> Precio:
                                </td>
                                <td>
                                    <input type="number" id="tentacles" placeholder="2" name="tentacles"
                                           min="1" max="20">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-dark">Editar</button>
                                </td>
                                <td>
                                    <center>
                                        <button type="button" class="btn"><img src="~/imagenes/eliminar1.png" width="35" height="35" /></button>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/imagenes/producto4.jpg" alt="" height="250" width="250" />
                                </td>
                                <td>
                                    Papa Chola <br> Precio:
                                </td>
                                <td>
                                    <input type="number" id="tentacles" placeholder="2" name="tentacles"
                                           min="1" max="20">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-dark">Editar</button>
                                </td>
                                <td>
                                    <center>
                                        <button type="button" class="btn"><img src="~/imagenes/eliminar1.png" width="35" height="35" /></button>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <center>
                    <button type="button" class="btn"><img src="~/imagenes/anadir.png" width="55" height="55" /></button>
                    <br>Añadir
                </center>
            </div>
            <div class="content" style="text-align:right">
                <button type="button" value="enviar" class="btn btn-dark">Pedidos</button>
            </div>
            <br>
            <center>
                <h3>Mi Publicidad</h3>
                <br><br>
                <div class="my-custom-scrollbar">
                    <table class="table table-bordered table-white">
                        <tbody>
                            <tr>
                                <td>
                                    <center>
                                        <img src="~/imagenes/imagen 2.jpg" alt="" height="200" width="250" />
                                        <br><br>2x1 en todos los productos de limpieza
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center>
                                        <img src="~/imagenes/imagen3.jpg" alt="" height="200" width="250" />
                                        <br><br>PediaSure con el 10% de descuento,<br> Gratis a domicilio
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <center>
                                        <img src="~/imagenes/imagen4.jpg" alt="" height="200" width="250" />
                                        <br><br>50% de descuento
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <center>
                    <button type="button" class="btn btn-dark">Editar</button>
                    <button type="button" class="btn btn-dark">Borrar</button>
                </center>
            </center>
        </div>*@



}
else
{


    @*<div class="text-center">
            <h1 style="color: #283747">PROMOCIONES</h1>
        </div>*@

    <!-- SLIDER -->

    <section class="slider d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Buscador de Tiendas" class="btn-group1">
                                        <button type="submit" class="btn-form"><span class="icon-magnifier search-icon"></span>Buscar<i class="pe-7s-angle-right"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

    <!--// SLIDER -->
    <br>
    <br>
    <!--============================= FIND PLACES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>APROVECHE NUESTRAS PROMOCIONES</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="find-place-img_wrap">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            </ol>
                            <center>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-80" src="~/imagenes/imagen 2.jpg" alt="First slide" height="410" width="350">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-80" src="~/imagenes/Tienda2.jpg" alt="Second slide" height="410" width="350">
                                    </div>
                                </div>
                            </center>

                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <figcaption>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            </ol>
                                            <center>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-80" src="~/imagenes/imaagen1.jpg" alt="First slide" height="190" width="325">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-80" src="~/imagenes/Tienda1.jpg" alt="Second slide" height="190" width="325">
                                                    </div>
                                                </div>
                                            </center>

                                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            </ol>
                                            <center>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-80" src="~/imagenes/imagen3.jpg" alt="First slide" height="190" width="325">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-80" src="~/imagenes/Tienda3.jpg" alt="Second slide" height="190" width="325">
                                                    </div>
                                                </div>
                                            </center>

                                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            </ol>
                                            <center>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-80" src="~/imagenes/imagen4.jpg" alt="First slide" height="190" width="325">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-80" src="~/imagenes/Tienda4.jpg" alt="Second slide" height="190" width="325">
                                                    </div>
                                                </div>
                                            </center>

                                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            </ol>
                                            <center>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-80" src="~/imagenes/imagen 2.jpg" alt="First slide" height="190" width="325">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-80" src="~/imagenes/Tienda6.jpg" alt="Second slide" height="190" width="325">
                                                    </div>
                                                </div>
                                            </center>

                                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END FIND PLACES -->
    <!-- end section -->


    <HR width="100%">
    <!--============================= FEATURED PLACES =============================-->
    <section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>TIENDAS MAS VISITADAS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-white">
                    <tbody>
                        <tr>
                            <th>
                                <img src="~/imagenes/Tienda1.jpg" alt="" height="130" width="250" />
                                <br><center><h6>TIENDA LA BENDICIÓN</h6></center>
                            </th>
                            <th>
                                <img src="~/imagenes/Tienda2.jpg" alt="" height="130" width="250" />
                                <br><center><h6>PlaStiTienda</h6></center>
                            </th>
                            <th>
                                <img src="~/imagenes/Tienda3.jpg" alt="" height="130" width="250" />
                                <br><center><h6>TIENDA DARLO</h6></center>
                            </th>
                            <th>
                                <img src="~/imagenes/Tienda4.jpg" alt="" height="130" width="250" />
                                <br><center><h6>TIENDA AKINA</h6></center>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!--//END FEATURED PLACES -->

    @*<center>
                <a type="button" href="https://localhost:44338/CompraClientes" class="btn btn-dark text-white">Comprar</a>
        </center>*@

}

